<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NarvisOS-Devices</title>
  <meta name="description" content="Blueprint: A basic template for a responsive multi-level menu" />
  <meta name="keywords" content="blueprint, template, html, css, menu, responsive, mobile-friendly" />
  <meta name="author" content="Codrops" />
  <link rel="shortcut icon" href="favicon.ico">
  <!-- food icons -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/organicfoodicons.css')}}" />
  <!-- demo styles -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/demo.css')}}" />
  <!-- menu styles -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/component.css')}}" />
  <script src="{{url_for('static',filename='js/modernizr-custom.js')}}"></script>
</head>

<body>
  <!-- Main container -->
  <div class="container">
    <!-- Blueprint header -->
    <header class="bp-header cf">
      <div class="dummy-logo">

        <div class="dummy-icon "></div>
        <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-phone" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M11 1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"/>
          <path fill-rule="evenodd" d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
        </svg>
        <h4 style="font-size: 20px" class="dummy-heading">Devices</h4>
      </div>
        </nav>
      </div>
    </header>

    <button class="action action--open" aria-label="Open Menu"><span class="icon icon--menu"></span></button>
    <nav id="ml-menu" class="menu">
      <button class="action action--close" aria-label="Close Menu"><span class="icon icon--cross"></span></button>
      <div class="menu__wrap">
        <ul data-menu="main" class="menu__level" tabindex="-1" role="menu" aria-label="All">
          <li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-1" aria-owns="submenu-1" href="#">Xiaomi</a></li>
          <li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-2" aria-owns="submenu-2" href="#">Asus</a></li>
          <li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-3" aria-owns="submenu-3" href="#">Realme</a></li>
          <li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-4" aria-owns="submenu-4" href="#">Motorola</a></li>
        </ul>

        <!-- Submenu 1 -->
        <ul data-menu="submenu-1" id="submenu-1" class="menu__level" tabindex="-1" role="menu" aria-label="Xiaomi">
          {% for ph in device %}
          <li class="menu__item" role="menuitem"><a class="menu__link" href="#">{{ph[0]}}</a></li>
          {% endfor %}
        </ul>

        <!-- Submenu 2 -->
        <ul data-menu="submenu-2" id="submenu-2" class="menu__level" tabindex="-1" role="menu" aria-label="Asus">
          <li class="menu__item" role="menuitem"><a class="menu__link" href="#">Citrus Fruits</a></li>
          <li class="menu__item" role="menuitem"><a class="menu__link" href="#">Berries</a></li>
          <li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-2-1" aria-owns="submenu-2-1" href="#">Special Selection</a></li>
          <li class="menu__item" role="menuitem"><a class="menu__link" href="#">Tropical Fruits</a></li>
          <li class="menu__item" role="menuitem"><a class="menu__link" href="#">Melons</a></li>
        </ul>

        <!-- Submenu 3 -->
        <ul data-menu="submenu-3" id="submenu-3" class="menu__level" tabindex="-1" role="menu" aria-label="Grains">
          <li class="menu__item" role="menuitem"><a class="menu__link" href="#">Buckwheat</a></li>
          <li class="menu__item" role="menuitem"><a class="menu__link" href="#">Millet</a></li>
          <li class="menu__item" role="menuitem"><a class="menu__link" href="#">Quinoa</a></li>
          <li class="menu__item" role="menuitem"><a class="menu__link" href="#">Wild Rice</a></li>
          <li class="menu__item" role="menuitem"><a class="menu__link" href="#">Durum Wheat</a></li>
          <li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-3-1" aria-owns="submenu-3-1" href="#">Promo Packs</a></li>
        </ul>

        <!-- Submenu 4 -->
        <ul data-menu="submenu-4" id="submenu-4" class="menu__level" tabindex="-1" role="menu" aria-label="Mylk &amp; Drinks">
          <li class="menu__item" role="menuitem"><a class="menu__link" href="#">Grain Mylks</a></li>
          <li class="menu__item" role="menuitem"><a class="menu__link" href="#">Seed Mylks</a></li>
          <li class="menu__item" role="menuitem"><a class="menu__link" href="#">Nut Mylks</a></li>
          <li class="menu__item" role="menuitem"><a class="menu__link" href="#">Nutri Drinks</a></li>
          <li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-4-1" aria-owns="submenu-4-1" href="#">Selection</a></li>
        </ul>
        
      </div>
    </nav>
    <div class="content">
      <p class="info">Please choose a category</p>
      <!-- Ajax loaded content here -->
    </div>
  </div>
  <!-- /view -->
  <script src="{{url_for('static',filename='js/classie.js')}}"></script>
  <script src="{{url_for('static',filename='js/dummydata.js')}}"></script>
  <script src="{{url_for('static',filename='js/main1.js')}}"></script>
  <script>
  (function() {
    var menuEl = document.getElementById('ml-menu'),
      mlmenu = new MLMenu(menuEl, {
        // breadcrumbsCtrl : true, // show breadcrumbs
        // initialBreadcrumb : 'all', // initial breadcrumb text
        backCtrl : false, // show back button
        // itemsDelayInterval : 60, // delay between each menu item sliding animation
        onItemClick: loadDummyData // callback: item that doesn´t have a submenu gets clicked - onItemClick([event], [inner HTML of the clicked item])
      });

    // mobile menu toggle
    var openMenuCtrl = document.querySelector('.action--open'),
      closeMenuCtrl = document.querySelector('.action--close');

    openMenuCtrl.addEventListener('click', openMenu);
    closeMenuCtrl.addEventListener('click', closeMenu);

    function openMenu() {
      classie.add(menuEl, 'menu--open');
      closeMenuCtrl.focus();
    }

    function closeMenu() {
      classie.remove(menuEl, 'menu--open');
      openMenuCtrl.focus();
    }

    // simulate grid content loading
    var gridWrapper = document.querySelector('.content');

    function loadDummyData(ev, itemName) {
      ev.preventDefault();

      closeMenu();
      gridWrapper.innerHTML = '';
      classie.add(gridWrapper, 'content--loading');
      setTimeout(function() {
        classie.remove(gridWrapper, 'content--loading');
        gridWrapper.innerHTML = '<ul class="products">' + dummyData[itemName] + '<ul>';
      }, 700);
    }
  })();
  </script>
</body>

</html>
